//Standard
$light: 'proxima_novalight';
$lightItalic: 'proxima_novalight_italic';
$italic: 'proxima_novaregular_italic';
$boldItalic: 'proxima_nova_rgbold_italic';
$bold: 'proxima_nova_rgbold';
$black: 'proxima_novablack';
$extraBold: 'proxima_novaextrabold';

//Condensed
$condensedBoldItalic: 'proxima_nova_condensedSBdIt';
$condensedRegularItalic: 'proxima_nova_condensedRgIt';
$condensedSemiBold: 'proxima_nova_condensedSBd';
$condensedLightItalic: 'proxima_nova_condensedLtIt';
$condensedLight: 'proxima_nova_condensedlight';


//Semibold
$semiBoldItalic: 'proxima_novasemibold_italic';
$semiBold: 'proxima_novasemibold';

//Regular
$regularItalic: 'proxima_novaregular_italic';
$regular: 'proxima_nova_rgregular';

$cnRegular: 'proxima_nova_cn_rgregular';

//Fallback fonts
$fallback: 'Helvetica', Arial, sans-serif;